<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;600&Merriweather:ital,opsz,wght@@300;400;500&display=swap" rel="stylesheet">
        <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/cards.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <link rel="icon" type="image/x-icon" href="/assets/manicule-for-dark-background.svg">
        <title>{{title}}</title>
        <meta property="og:title" content="d-puzzle GmbH" />
        <meta property="og:description" content="Ihr Partner für innovative und toolgestützte Analyse, Design, Evolution und Digitalisierung Ihrer Organisation und deren Prozesse." />
        <meta property="og:image" content="https://www.d-puzzle.org/assets/d-puzzle-logo-open-graph.png" />
        <meta property="og:url" content="https://www.d-puzzle.ch" />
        <meta property="og:type" content="website" />
    </head>
    {# {% include 'navigation.njk' %} #}
    <script type="text/javascript" src="/assets/scripts/flip-cards.js"></script>
    <script src="/pagefind/pagefind-component-ui.js" type="module"></script>
    <body>
        {% include 'header.njk' %}
        {{ content | safe }}
        {% include 'footer.njk' %}
    </body>
</html>