---
title: Kontakt
layout: 'base.njk'
---

<main>
   <!------------------->
   <section class="chapter single-column-text">
      <h1>{{title}}</h1>
        {%- renderFile 'src/content/contact/contact.md' -%}
   </section>

</main>