---
title: Vorgehensmodell
layout: 'base.njk'
---

<main>
   <!------------------->
   <section class="chapter single-column-text">
      {%- renderFile 'src/content/transformation-path/transformation-path.md' -%}
   </section>

</main>