---
title: d-puzzle
layout: 'base.njk'
---

<main>
   <section>
      <div class="d-puzzle-scattered">
         <img src="assets/logo-3-framed-3D-dark-bg.svg" alt="puzzle of three scattered pieces">
      </div>
      <div class="d-puzzle-slogan">
         <img src="assets/slogan-1-dark-bg.svg" alt="d-puzzle slogan">
      <div>
   </section>

   <!------------------->
   <section>
      {%- renderFile 'src/content/main-page/puzzled.md' -%}
   </section>

   <!------------------->
   <section>      
      {%- renderFile 'src/content/main-page/offering.md' -%}
   </section>

   <!------------------->
   <section>      
      {%- renderFile 'src/content/main-page/depuzzled.md' -%}
   </section>
</main>