---
title: d-puzzle GmbH
layout: 'base.njk'
---

<main>
   <section>
      <div class="d-puzzle-brand">
         <img src="assets/d-puzzle-name-dark-bg.svg" alt="brand name">
      </div>
      <div class="d-puzzle-tagline">
         <img src="assets/d-puzzle-tagline-dark-bg.svg" alt="d-puzzle tagline">
      </div>
      <div class="puzzle-scattered">
         <img src="assets/puzzle-3-framed-3D-dark-bg.svg" alt="puzzle of three scattered pieces">
      </div>
   </section>

   <!------------------->
   <section>
      {%- renderFile 'src/content/main-page/puzzled.md' -%}
   </section>

   <!------------------->
   <section>      
      {%- renderFile 'src/content/main-page/depuzzle.md' -%}
   </section>

   <!------------------->
   <section>      
      {%- renderFile 'src/content/main-page/offering.md' -%}
   </section>
</main>